.center-vertical{
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
body{
	background-color:lightgray;
}
.text-right{
	text-align: right;
}
.margin-bottom-login{
	margin-bottom: 20px;
}
.btn-box{
	box-sizing: content-box;
}

.my-tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
    top:-5px;
}

.my-tooltiptext {
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 0px;
    opacity: 1;
    transition: opacity 1s;
    word-break: break-all;
}

.my-tooltip .my-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent   transparent;
}


.input-err {
	border: 1px solid red !important;
}
.disable {
	display: none !important;
}
.tooltip.top {
    margin-top: -105px;
}
.notify{
	margin-bottom: 0px;	
}