<div class=" center-vertical" ng-controller="login">
	<form class="form-horizontal" name="loginForm" ng-submit="submit(loginForm.$valid)" method="POST" novalidate>
		<div class="form-group">
			<label for="inputEmail3" class="col-xs-3 control-label">{{'USERNAME' | translate}}</label>
			<div class="col-xs-9">
				<!-- USER -->
				<input name="inputUser" type="text" class="form-control" id="inputEmail3" placeholder="User" ng-model="inputUser" ng-required="true" ng-maxlength="64" ng-minlength="5" ng-input-string="^[a-z0-9]+$">
			
			</div>
		</div>
		<div ng-show="loginForm.$submitted">
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputUser.$error.required">
				{{'LOGIN_USER_CHECK_ENTER_USERNAME' | translate}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputUser.$error.minlength">
				{{'LOGIN_USER_CHECK_ENTER_LENGTH_LESS' |translate }}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputUser.$error.maxlength">
				{{'LOGIN_USER_CHECK_ENTER_LENGTH_MORE' | translate}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputUser.$error.ngInputString">
				{{'LOGIN_USER_CHECK_SPECIAL_CHARACTER' | translate}}
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-xs-3 control-label">{{'PASSWORD' | translate}}</label>
			<div class="col-xs-9">
			<!-- PASS -->
				<input name="inputPassword" type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="inputPassword" ng-required="true" ng-maxlength="64" ng-minlength="5">		
			</div>
		</div>
		<div ng-show="loginForm.$submitted">
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputPassword.$error.required">
				{{'LOGIN_PASSWORD_CHECK_ENTER_USERNAME' | translate}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputPassword.$error.minlength">
				{{'LOGIN_PASSWORD_CHECK_ENTER_LENGTH_LESS' | translate}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputPassword.$error.maxlength">
				{{'LOGIN_PASSWORD_CHECK_ENTER_LENGTH_MORE' | translate}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="loginForm.inputPassword.$error.ngInputString">
				{{'LOGIN_PASSWORD_CHECK_SPECIAL_CHARACTER' | translate}}
			</div>
		</div>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="remember" ng-true-value="true" ng-false-value="false"> Remember me
			</label>
			</div>
		</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-danger">{{'SIGNIN' | translate}}</button>
			</div>
		</div>
		<div ng-show="loginForm.$submitted">
			<div class="alert alert-danger" id="loginWrong" role="alert" ng-show="loginWrong">
				{{'LOGIN_WRONG' | translate}}
			</div>
		</div>

	</form>

	<div ng-controller="changeLanguage">
		<button ng-click="changeLanguage('vn')">VietNam</button>
		<button ng-click="changeLanguage('en')">English</button>
	</div>
	
	<!-- NOTIFY -->



	<!---
	loginForm.inputUser.$error.required = {{!!loginForm.inputUser.$error.required}}<br>
	loginForm.inputPassword.$error.required = {{!!loginForm.inputPassword.$error.required}}<br>
	loginForm.inputUser.$error.ngInputString = {{!!loginForm.inputUser.$error.ngInputString}}<br>
	loginForm.inputPassword.$error.ngInputString = {{!!loginForm.inputPassword.$error.ngInputString}}<br>-->
</div>

