<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="Ctrl">
		<h2 id="{{headline}}">{{'HEADLINE' | translate}}</h2>
		<p>{{'PARAGRAPH' | translate}}</p>
		<p translate>PASSED_AS_TEXT</p>
		<p translate="PASSED_AS_ATTRIBUTE"></p>
		<p translate>{{'PASSED_AS_INTERPOLATION'}}</p>
		<p translate="{{'PASSED_AS_INTERPOLATION'}}"></p>
		<p translate="VARIABLE_REPLACEMENT" translate-values="{ name:'Duc'}"></p>
		<p translate="VARIABLE_REPLACEMENT" translate-value-name="emyeuunuoc"></p>
		<button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE">sa</button>
		<button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">sa</button>
	</div>
</body>
</html>