	<div ng-controller="login" class="center-vertical container" >
	<form id="loginForm" name="loginForm" novalidate>
		<div class="row margin-bottom-login">
			<div class="col-xs-3 text-right">Username</div>
			<div class="col-xs-8" 	>
				<div class="my-tooltip" ng-show="loginForm.$submitted && loginForm.inputUser.$invalid">
					<span class="my-tooltiptext">
						<p class="notify" ng-if="loginForm.inputUser.$error.required ">
							{{loginForm.inputUser.$error.required ? 'Phai nhap user ' : ''}}
						</p>	
						<p class="notify" ng-if="loginForm.inputUser.$error.minlength ">
							{{loginForm.inputUser.$error.minlength ? 'user phai lon hon 5 ki tu ' : ''}}
						</p>
						<p class="notify" ng-if="loginForm.inputUser.$error.maxlength ">
							{{loginForm.inputUser.$error.maxlength ? 'user phai nho hon 2 ki tu ' : ''}}
						</p>
					</span>
				</div>
				<input name="inputUser" type="text" class="form-control {{loginForm.$submitted &&loginForm.inputUser.$invalid ? 'input-err' : ''}}" placeholder="user" required ng-maxlength="2" ng-minlength="5" ng-model="inputUser" ng-check-input " >
			</div>
		</div>
		<div class="row margin-bottom-login">
			<div class="col-xs-3 text-right">Password</div>
			<div class="col-xs-8">
				<div class="my-tooltip" ng-show="loginForm.$submitted && loginForm.inputPassword.$invalid">
					<span class="my-tooltiptext">
						<p class="notify" ng-if="loginForm.inputPassword.$error.required ">
							{{loginForm.inputPassword.$error.required ? 'Phai nhap password ' : ''}}
						</p>	
						<p class="notify" ng-if="loginForm.inputPassword.$error.minlength ">
							{{loginForm.inputPassword.$error.minlength ? 'password phai lon hon 5 ki tu ' : ''}}
						</p>
						<p class="notify" ng-if="loginForm.inputPassword.$error.maxlength ">
							{{loginForm.inputPassword.$error.maxlength ? 'password phai nho hon 64 ki tu ' : ''}}
						</p>
					</span>
				</div>
				<input name="inputPassword" type="text" class="form-control {{loginForm.$submitted &&loginForm.inputPassword.$invalid ? 'input-err' : ''}}" placeholder="Password" required ng-maxlength="64" ng-minlength="5" ng-model="inputPassword" ng-check-input >
				
			</div>
		</div>
		<div class="row margin-bottom-login text-right" >
			<div class="col-xs-3">
				<button id="submit" type="submit" class="btn btn-default btn-box">Submit</button>
			</div>
		</div>

</div>

	</form><!---
	<pre >
	loginForm.inputUser.$error = {{loginForm.inputUser.$error}}<br>
	loginForm.inputPassword.$error = {{loginForm.inputPassword.$error}}<br>
	</pre>-->


